services:
  # Aplicação Flask com Gunicorn
  web_production:
    networks:
      - flask_network
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: flask_app_prod
    restart: unless-stopped
    ports:
      - "5090:5090"
    env_file: 
      - .env.prod
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5090/"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - ./logs:/app/logs
    mem_limit: 800m
    mem_reservation: 400m

networks:
  flask_network:
    driver: bridge