<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>

    <form id="formprodutos">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" id="nome" placeholder="Nome do produto">
        <input type="number" id="preco" placeholder="Preço">
        <input type="number" id="estoque" placeholder="Estoque">
        <button type="submit">Salvar</button>
    </form>

    <form id="produtosForm">
        
    </form>

    <form id="putProdutoForm">
           <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
           <input type="number" id="produto_id" name="produto_id" value="">
           <input type="text" id="nome" placeholder="Nome do produto">
           <input type="number" id="preco" placeholder="Preço">
           <input type="number" id="estoque" placeholder="Estoque">
           <button type="submit">Atualizar</button>
    </form>

    <div id="resposta"></div>
</body>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/products/getProduto.js"></script>
    <script src="/static/products/putProduto.js"></script>
    <script src="/static/products/cadastrarProduto.js"></script>
</html>